[alias]
	co = checkout
	st = status
	force = push --force-with-lease
	com = commit -m
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	
[includeIf "gitdir:~/dev"]
  path = ~/dev/dev.gitconfig

[includeIf "gitdir:~/work"]
  path = ~/work/work.gitconfig